# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environments
.venv/
venv/
ENV/
env/
active_env/

# IDEs
.idea/
.vscode/
*.swp
*.swo

# Data and Models
data/raw/*
!data/raw/.gitkeep
data/interim/*
!data/interim/.gitkeep
data/processed/**/images/
data/processed/**/labels/
models/baseline/*
!models/baseline/.gitkeep
*.pt
*.engine

runs/

# MLflow
mlruns/
experiments/mlflow/mlflow.db
experiments/mlflow/artifacts/*
!experiments/mlflow/artifacts/.gitkeep

# Jupyter Notebooks checkpoints
.ipynb_checkpoints/

# Environment variables file
.env

# Large Video Files
*.mp4

# Debug Images
raw_crop_*.png
chart.min.js
data/processed/v1/class_weights.json
data/processed/v1/preprocessing_summary.md
data/processed/v1/reports/
data/processed/v1/statistics/
